.profileScreen {
    height: 100vh;
    color: white;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profileScreen__info {
    display: flex;
}

.profileScreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__body > h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: 0;
}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profileScreen__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileScreen__avatar > img {
    height: 100px;
}

.profileScreen__avatar > span{
    margin-top: 50px;
}

.helpIcon {
    position: relative;
    cursor: pointer;
}

.tooltip {
    display: none;
    width: 250px;
    height: 310px;
    position: absolute;
    background: gray;
    color: #000;
    right: 0;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s ease;
    padding: 3px;
    border: 1px solid black;
}

/* .tooltip:hover {
    opacity: 1;
    transition: all 0.5s ease;
} */

.helpIcon:hover .tooltip {
    display: block;
}